<% if (title) { %>
    <h1 class="inside-h1"><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<div class="form-container">
    <form id="registerForm" action="/account/register" method="post">
        <p>All fields are required</p>
        <div class="input-block">
            <label for="account_firstname">First name:</label>
            <input type="text" id="ccount_firstname" name="account_firstname" placeholder="Enter your first name" value="<%= locals.account_firstname %>" required>
        </div>
        <div class="input-block">
            <label for="account_lastname">Last name:</label>
            <input type="text" id="account_lastname" name="account_lastname" placeholder="Enter your last name" value="<%= locals.account_lastname %>" required>
        </div>
        <div class="input-block">
            <label for="account_email">Email:</label>
            <input type="email" id="account_email" name="account_email" placeholder="Enter your email" value="<%= locals.account_email %>" required>
        </div>
        <div class="input-block">
            <label for="account_password">Password:</label>
            <input type="password" id="account_password" name="account_password" placeholder="Enter your password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
            <span id="pswdBtn">Show Password</span>
            <div class="input-info">
               <p>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character.</p>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>