<% if (title) { %>
    <h1 class="inside-h1"><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<div class="form-container">
    <form id="deleteForm" action="/inv/delete" method="post">
        <p>Confirm Deletion - The delete is permanent.</p>
        <div class="input-block">
            <label for="invMake">Make:</label>
            <input type="text" id="invMake" name="inv_make" placeholder="Minimum of 3 Characters" value="<%= locals.inv_make %>" readonly required>
        </div>
        <div class="input-block">
            <label for="invModel">Model:</label>
            <input type="text" id="invModel" name="inv_model" placeholder="Minimum of 3 Characters" value="<%= locals.inv_model %>" readonly required>
        </div>
        <div class="input-block">
            <label for="invPrice">Price:</label>
            <input type="number" id="invPrice" name="inv_price" placeholder="Integer or Decimal" value="<%= locals.inv_price %>" readonly required>
        </div>
        <div class="input-block">
            <label for="invYear">Year:</label>
            <input type="number" id="invYear" name="inv_year" placeholder="4-digit year" value="<%= locals.inv_year %>" readonly required>
        </div>
        <button type="submit" name="submit" class="btn btn-secondary">Delete Vehicle</button>

        <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
</div>