<% if (title) { %>
    <h1 class="inside-h1"><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<div class="form-container">
    <form id="inventoryForm" action="/inv/inventory" method="post">
        <p>Add fields are required</p>
        <div class="input-block">
            <label for="classificationList">Classification</label>
            <%- classificationSelect %>
        </div>
        <div class="input-block">
            <label for="invMake">Make:</label>
            <input type="text" id="invMake" name="inv_make" placeholder="Minimum of 3 Characters" value="<%= locals.inv_make %>" required>
        </div>
        <div class="input-block">
            <label for="invModel">Model:</label>
            <input type="text" id="invModel" name="inv_model" placeholder="Minimum of 3 Characters" value="<%= locals.inv_model %>" required>
        </div>
        <div class="input-block">
            <label for="invDescription">Desciption:</label>
            <textarea id="invDescription" name="inv_description" required></textarea>
        </div>
        <div class="input-block">
            <label for="invImage">Image Path:</label>
            <input type="text" id="invImage" name="inv_image" placeholder="Image Path/URL" value="<%= locals.inv_image %>" pattern="^(\/?([a-zA-Z0-9-_+]+\/)*([a-zA-Z0-9]+\.[a-zA-Z0-9]+)?)|(https?:\/\/[^\s/$.?#].[^\s]*)$" required>
        </div>
        <div class="input-block">
            <label for="invThumbnail">Thumbnail Path:</label>
            <input type="text" id="invThumbnail" name="inv_thumbnail" placeholder="Thumbnail Path/URL" value="<%= locals.inv_thumbnail %>" pattern="^(\/?([a-zA-Z0-9-_+]+\/)*([a-zA-Z0-9]+\.[a-zA-Z0-9]+)?)|(https?:\/\/[^\s/$.?#].[^\s]*)$" required>
        </div>
        <div class="input-block">
            <label for="invPrice">Price:</label>
            <input type="number" id="invPrice" name="inv_price" placeholder="Integer or Decimal" value="<%= locals.inv_price %>" required>
        </div>
        <div class="input-block">
            <label for="invYear">Year:</label>
            <input type="number" id="invYear" name="inv_year" placeholder="4-digit year" value="<%= locals.inv_year %>" required>
        </div>
        <div class="input-block">
            <label for="invMiles">Miles:</label>
            <input type="number" id="invMiles" name="inv_miles" placeholder="Digits only" value="<%= locals.inv_miles %>" required>
        </div>
        <div class="input-block">
            <label for="invColor">Color:</label>
            <input type="text" id="invColor" name="inv_color" placeholder="Color" value="<%= locals.inv_color %>" required>
        </div>
        <button type="submit" class="btn btn-secondary">Add Vehicle</button>
    </form>
</div>